/* Structure */
.products-container {
  position: relative;
}

.products-table-container {
  position: relative;
  min-height: 540px;
  overflow: auto;
  background-color: white;
}

.products-table {
  width: 100%;
}

.products-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Column Widths */
.mat-column-price {
  width: 80px !important;
  text-align: right;
  padding-right: 8px;
}

.mat-column-name {
  width: 25% !important;
}

.mat-column-description {
}

.mat-column-buttons {
  width: 80px !important;
}
