<mat-card class="mat-elevation-z8">
  <mat-card-title>
    <img src="./assets/logo.svg" style="max-width: 128px; margin-top: 2rem" />
    <h3>Email Confirmation</h3>
  </mat-card-title>
  <mat-card-content *ngIf="!(result | async)">
    <p>Confirming your e-mail address...</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-content>
  <mat-card-content *ngIf="(result | async)?.error as error">
    <mat-error>{{ error }}</mat-error>
  </mat-card-content>
  <mat-card-content *ngIf="(result | async) && !(result | async)?.error">
    <p>Confirmation successful <a routerLink="../login"
                                  [queryParams]="{ email: (route.queryParams | async)?.['email'] }"
                                  style="margin-left: 0.5rem"
                                  mat-raised-button>Sign in</a></p>
  </mat-card-content>
</mat-card>
