<div class="chart-header">
  <h2>Number of Purchases</h2>
  <div style="flex-grow: 1;"></div>
  <mat-form-field>
    <mat-label>Product Filter</mat-label>
    <mat-select matNativeControl required
                [value]="productFilter | async"
                (selectionChange)="productFilterChanged($event)">
      <mat-option [value]="0">All</mat-option>
      <mat-option *ngFor="let product of (products | async)" [value]="product.id">{{ product.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div style="width: 24px;"></div>
  <mat-form-field style="align-self: flex-end;">
    <mat-label>Time Period</mat-label>
    <mat-select matNativeControl required
                [value]="purchasesTimePeriod | async"
                (selectionChange)="purchasesTimePeriodChanged($event)">
      <mat-option value="Total">All Time</mat-option>
      <mat-option value="OneYear">One Year</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="chart-container">
  <canvas baseChart
          *ngIf="(purchasesChartData | async)?.datasets?.[0]?.data?.length; else noData"
          [data]="(purchasesChartData | async)!"
          [options]="purchasesChartOptions"
          [legend]=false
          [type]="'line'">
  </canvas>
</div>

<ng-template #noData>
  <div class="chart-no-data">
    There is no data in the selected time period.
  </div>
</ng-template>
