/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'text-security-disc';
  src: url('./assets/text-security-disc-compat.eot');
  src: url('./assets/text-security-disc-compat.eot?#iefix') format('embedded-opentype'),url('./assets/text-security-disc-compat.woff2') format('woff2'),url('./assets/text-security-disc-compat.ttf') format('truetype')
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
