<div class="grid-container">
  <div class="single-number-widget mat-elevation-z6"
       matTooltip="Total money spent by all users">
    <mat-icon class="big-icon">paid</mat-icon>
    <div>
      <h3>{{ (totalPurchases | async)?.totalPrice | currency:'EUR':'' }} €</h3>
      <p>Total Spent</p>
    </div>
  </div>
  <div class="single-number-widget mat-elevation-z6"
       matTooltip="Total number of drinks bought by all users">
    <mat-icon class="big-icon">local_drink</mat-icon>
    <div>
      <h3>{{ (totalPurchases | async)?.totalItems }}</h3>
      <p>Drinks Bought</p>
    </div>
  </div>
</div>
<div class="chart-widget mat-elevation-z6">
  <app-top-spenders></app-top-spenders>
</div>
<div class="chart-widget mat-elevation-z6">
  <app-purchases-chart></app-purchases-chart>
</div>
<div class="large-grid-container">
  <div class="chart-widget mat-elevation-z6">
    <app-products-chart></app-products-chart>
  </div>
  <div class="table-widget mat-elevation-z6">
    <app-recent-purchases></app-recent-purchases>
  </div>
</div>
