<div class="grid-container">
  <div class="single-number-widget mat-elevation-z6"
       matTooltip="Total money spent by all users">
    <mat-icon class="big-icon">paid</mat-icon>
    <div>
      <h3>{{ (totalPurchases | async)?.totalPrice | currency:'EUR':'' }} €</h3>
      <p>Total Spent</p>
    </div>
  </div>
  <div class="single-number-widget mat-elevation-z6"
       matTooltip="Total number of drinks bought by all users">
    <mat-icon class="big-icon">local_drink</mat-icon>
    <div>
      <h3>{{ (totalPurchases | async)?.totalItems }}</h3>
      <p>Drinks Bought</p>
    </div>
  </div>
</div>
<div class="chart-widget mat-elevation-z6">
  <div class="chart-header">
    <h2>Top Spenders</h2>
    <mat-form-field>
      <mat-label>Time Period</mat-label>
      <mat-select matNativeControl required
                  [value]="spendersTimePeriod | async"
                  (selectionChange)="spendersTimePeriodChanged($event)">
        <mat-option value="Total">All Time</mat-option>
        <mat-option value="OneMonth">One Month</mat-option>
        <mat-option value="ThisMonth">This Month</mat-option>
        <mat-option value="OneYear">One Year</mat-option>
        <mat-option value="ThisYear">This Year</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="chart-container">
    <canvas baseChart
            *ngIf="(spendersChartData | async)?.datasets?.[0]?.data?.length; else noData"
            [data]="(spendersChartData | async)!"
            [options]="spendersChartOptions"
            [legend]=false
            [type]="'bar'">
    </canvas>
  </div>
</div>

<ng-template #noData>
  <div class="chart-no-data">
    There is no data in the selected time period.
  </div>
</ng-template>
