@import '../../../variables.scss';

.grid-container {
  display: grid;
  gap: 3rem;
}

@media (min-width: 800px) {
  .grid-container {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.single-number-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 43px 30px;
  background: var(--mat-sidenav-container-background-color);
}

.big-icon {
  color: mat-color($primary-color);
  transform: scale(3);
  margin-right: 48px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

p {
  margin-top: 0.5em;
}

.chart-widget {
  background: var(--mat-stepper-container-color);
  margin-top: 3rem;
  padding: 1.5rem;
}

.table-widget {
  background: var(--mat-stepper-container-color);
  margin-top: 3rem;
}

.chart-container {
  height: 500px;
}

.chart-header {
  display: flex;
  flex-wrap: wrap;
}

.chart-no-data {
  padding: 250px 24px;
  text-align: center;
}

.large-grid-container {
  display: block;
}

@media (min-width: 1500px) {
  .large-grid-container {
    display: grid;
    grid-auto-flow: column;
    gap: 3rem;
    grid-template-columns: 50% 1fr;
  }
}

.table-wrapper {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table {
  width: 100%;
}

td {
  white-space: nowrap;
  max-width: 10px;
}

th {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.column-small
{
  width: 18%;
}

.column-large
{
  width: 46%;
}
