<mat-card class="mat-elevation-z8">
  <mat-card-title>
    <img src="./assets/logo.svg" style="max-width: 128px; margin-top: 2rem" />
    <h3>Reset Password</h3>
  </mat-card-title>
  <mat-card-content>
    <p>Submit to set a new password.</p>
    <form [formGroup]="form" (ngSubmit)="submit.next({})">
      <mat-error>
        {{ errorResponse | async }}
      </mat-error>
      <mat-form-field>
        <input matInput
               type="password"
               autocomplete="new-password"
               placeholder="Password"
               name="password"
               formControlName="password"
               required>
        <mat-hint>Must be at least 8 characters long and contain at least 1 numeric, lowercase, uppercase and non-alphanumeric character</mat-hint>
        <mat-error>
          Must be at least 8 characters long and contain at least 1 numeric, lowercase, uppercase and non-alphanumeric character
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
                type="password"
                placeholder="Confirm Password"
                name="confirm-password"
                formControlName="confirmPassword"
                [errorStateMatcher]="parentErrorStateMatcher"
                required>
        <mat-error *ngIf="form.get('confirmPassword')!.hasError('required')">
          Please confirm the password
        </mat-error>
        <mat-error *ngIf="form.hasError('passwordsMatch') && !form.get('confirmPassword')!.hasError('required')">
          <p>Passwords do not match</p>
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="busy | async">
          Reset password
        </button>
      </mat-card-actions>
      <mat-progress-bar mode="indeterminate" *ngIf="busy | async"></mat-progress-bar>
    </form>
  </mat-card-content>
</mat-card>
<div style="text-align: center">
  Don't want to reset your passwprd? <a routerLink="../login" style="margin-left: 0.5rem" mat-raised-button>Sign in</a>
</div>
