.pin-container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.pin-code {
  margin: 16px;
  align-self: center;
}

.pin-code-password-field {
  font-family: text-security-disc;
  /* Use -webkit-text-security if the browser supports it */
  -webkit-text-security: disc;
}

.pin-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

.pad-button {
  width: 80px;
  height: 80px;
  font-size: 1.5em;
}

.last {
  grid-column-start: 2;
}
