<form [formGroup]="form" (submit)="onOkClick()">
  <h1 mat-dialog-title>Settings</h1>

  <div mat-dialog-content style="max-width: 400px;">
    <p>If you want to make purchases directly on the fridge, please choose a permission:</p>
    <mat-form-field >
      <mat-label>Permission to buy on fridge</mat-label>
      <mat-select formControlName="buyOnFridgePermission">
        <mat-option *ngFor="let setting of permissionSettings" [value]="setting">
          {{ permissionText.get(setting) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="form.value.buyOnFridgePermission == 'WithPinCode'">
      <mat-form-field>
        <mat-label>Pin {{ (hasOldPinCode | async) && form.value.buyOnFridgePermission == 'WithPinCode' ? '(unchanged)' : '' }}</mat-label>
        <input matInput
               type="password"
               autocomplete="new-password"
               placeholder="***"
               name="pinCode"
               formControlName="pinCode"
               [errorStateMatcher]="parentErrorStateMatcher">
        <mat-hint>Must be at least 4 digits long and contain only digits</mat-hint>
        <mat-error *ngIf="!form.get('pinCode')!.valid">
          Must be at least 4 digits long and contain only digits
        </mat-error>
        <mat-error *ngIf="form.hasError('pinRequired')">
          <p>Pin code is required</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               type="password"
               placeholder="Confirm Pin"
               name="confirmPinCode"
               formControlName="confirmPinCode"
               [errorStateMatcher]="parentErrorStateMatcher">
        <mat-error *ngIf="form.hasError('pinsMatch')">
          <p>Pin codes do not match</p>
        </mat-error>
      </mat-form-field>
    </ng-container>

  </div>

  <div mat-dialog-actions align="end">
    <button mat-raised-button class="quick-button" type="button" (click)="onCloseClick()">Cancel</button>
    <button mat-raised-button class="quick-button" color="primary" type="submit" [disabled]="busy | async">Ok</button>
    <mat-progress-bar mode="indeterminate" *ngIf="busy | async"></mat-progress-bar>
  </div>
</form>
